#nav {
    width: 100%;
}
.navbar-item {
    float: right;
    font-family: Rubik;
    font-style:normal;
    font-weight: 1200;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;

    color: #EAC8BC;
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    margin-top: 2%;


} 
.navbar-item-on{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
    font-family: Rubik;
    font-style:normal;
    font-weight: bolder;
    font-size: 20px;

    color: #E0A18B;
    text-decoration: none;
}
#logo-items{
    position: absolute;
    margin-left: -10%;
    margin-top:-20%;
}
#logo{
    margin-left: 2%;
}


#introduction {
    position: absolute;
    width: 750px;
    margin-left: 23%;
    margin-top: 5%;
    font-family: Rubik;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #E0A18B;
    
}

#music_logo {
   position: relative;
   margin-left: 25%;

}
a{
    text-decoration: none;
    color:#EAC8BC;
}

#on {
    text-decoration: none;
    color: E0A18B;
}

#name {
    position: absolute;
    margin-top: -4%;
    margin-left: 7%;
    font-family: Road Rage;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
    color: #EAC8BC;
}

#about_me{
    margin-top: 20%;
    margin-left: 47%;
    font-family: Road Rage;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
    color: #EAC8BC;



}

#selfie{
    width: 40%;
    height: 60%;
    border-radius: 15px;
    margin-left: 30%;
}

#self{
    margin-left: 30%;
    margin-top: 2%;
    width :40%;
    font-family: Rubik;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #E0A18B
}

#end{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-family: Road Rage;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    color: #FFFFFF;
}

#audio {
    display: none;
}
  