
#nav {
    width: 100%;

}
.navbar-item {
    float: right;
    font-family: Rubik;
    font-style:normal;
    font-weight: 1200;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;

    color: #EAC8BC;
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    margin-top: 2%;


} 
.navbar-item-on{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
    font-family: Rubik;
    font-style:normal;
    font-weight: bolder;
    font-size: 20px;

    color: #E0A18B;
    text-decoration: none;
}


a{
    text-decoration: none;
    color:#EAC8BC;
}

#on {
    text-decoration: none;
    color: #E0A18B;
}
#logo-items{
    position: absolute;
    margin-left: -10%;
    margin-top:-20%;
}
#logo{
    margin-left: 2%;
}

#name {
    position: absolute;
    margin-top: -4%;
    margin-left: 7%;
    font-family: Road Rage;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
    color: #EAC8BC;
}
#player {
    display: flex;
    justify-content: center;
    position: relative;
    margin:auto;
    margin-top: 5%;
}

#playlist{
    display: flex;
    justify-content: center;
    position: relative;
     margin-top: 5%;
    font-family: Rubik;
    font-style: normal;
    font-size: 25px;
    color: #E0A18B;
}

#end{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-family: Road Rage;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    color: #FFFFFF;
}

#audio {
    display: none;
}
  