#nav {
    width: 100%;
}
.navbar-item {
    float: right;
    font-family: Rubik;
    font-style:normal;
    font-weight: 1200;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;

    color: #EAC8BC;
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    margin-top: 2%;


} 
.navbar-item-on{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
    font-family: Rubik;
    font-style:normal;
    font-weight: bolder;
    font-size: 20px;

    color: #E0A18B;
    text-decoration: none;
}
#logo-items{
    position: absolute;
    margin-left: -10%;
    margin-top:-20%;
}
#logo{
    margin-left: 2%;
}


a{
    text-decoration: none;
    color:#EAC8BC;
}

#row1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#on {
    text-decoration: none;
    color: E0A18B;
}

#name {
    position: absolute;
    margin-top: -4%;
    margin-left: 7%;
    font-family: Road Rage;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
    color: #EAC8BC;
}

#box1{
    position: absolute;
    width: 259px;
    height: 165px;
    margin-left: -10%;
    margin-top: 7%;
    background: #EAC8BC;
    border-radius: 24px;
}


#box2{
    position: absolute;
    width: 259px;
    height: 165px;
    margin-left: -7%;
    margin-top: 7%;
    background: #EAC8BC;
    border-radius: 24px;
}


#box3{
    position: absolute;
    width: 259px;
    height: 165px;
    margin-left: -4%;
    margin-top: 7%;
    background: #EAC8BC;
    border-radius: 24px;
}


#box4{
    position: absolute;
    width: 259px;
    height: 165px;
    margin-left: 14%;
    margin-top: 30%;

    background: #EAC8BC;
    border-radius: 24px;
}

#box5{
    position: absolute;
    width: 259px;
    height: 165px;
    margin-left: 43%;
    margin-top: 30%;


    background: #EAC8BC;
    border-radius: 24px;
}


#box6{
    position: absolute;
    width: 259px;
    height: 165px;
    margin-left: 70%;
    margin-top: 30%;

    background: #EAC8BC;
    border-radius: 24px;
}

#text1{
    margin-top: 20%;
    margin-left: -9%;
    position: absolute;
     width: 15%;
    font-family: Rubik;
    font-style: normal;
    font-weight: bolder;
    font-size: 19px;
    line-height: 20px;
    text-align: center;

    color: #EAC8BC;

}
#text2{
    margin-top: 20%;
    margin-left: -5%;
    position: absolute;
    width: 15%;
    height: 55px;
    font-family: Rubik;
font-style: normal;
font-weight: bolder;
font-size: 19px;
line-height: 20px;
text-align: center;

color: #EAC8BC;

}
#text3{
    margin-top: 20%;
    margin-left: -2%;
    position: absolute;
    width: 15%;
    font-family: Rubik;
font-style: normal;
font-weight: bolder;
font-size: 19px;
line-height: 20px;
text-align: center;

color: #EAC8BC;

}

#more_boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#text4{
    margin-top: 43%;
    margin-left: 15%;
    position: absolute;
    width: 18%;
    font-family: Rubik;
font-style: normal;
font-weight: bolder;
font-size: 19px;
line-height: 20px;
text-align: center;

color: #EAC8BC;


}
#text5{
    margin-top: 43%;
    margin-left: 44%;
    position: absolute;
    width: 15%;
    font-family: Rubik;
font-style: normal;
font-weight: bolder;
font-size: 19px;
line-height: 20px;
text-align: center;

color: #EAC8BC;

}
#text6{
    margin-top: 43%;
    margin-left: 72%;
    position: absolute;
    width: 15%;
    font-family: Rubik;
    font-style: normal;
    font-weight: bolder;
    font-size: 19px;
line-height: 20px;
text-align: center;

color: #EAC8BC;

}

#end{
    display: flex;
    justify-content: center;
    margin-top: 50%;
    font-family: Road Rage;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    color: #FFFFFF;
}

#reward{
    position: absolute;
    margin-top: 10%;
    margin-left: -3.5%;
}

#regulation{
    position:absolute;
    margin-top: 10%;
}

#brain{
    position:absolute;
    margin-top: 10%;
    margin-left: 1.5%;
}
#depress{
    position:absolute;
    margin-top: 32%;
    margin-left: 20%;
}
#anxiety{
    position:absolute;
    margin-top: 32%;
    margin-left: 48%;
}
#future{
    position:absolute;
    margin-top: 31%;
    margin-left: 74%;
}